<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>sandy</title>
    <!-- styles -->
    {% style "/css/semantic.css" %}
  </head>
  <body>
      <!-- navbar -->
      <nav class="ui inverted menu">
          <div class="ui container">
              <a href="/" class="item">Home</a>
          </div>
      </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- scripts -->
    {% script "/assets/jquery/jquery.min.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
    <div class="ui four column doubling stackable grid container">
        <img class="ui avatar image" src="/img/sandy.thumbnail.jpg">
    </div>
  </body>
</html>
